/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: url(http://365psd.ru/images/backgrounds/bg-light-4862.png);
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 900px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.form-wrapper {
  width: 730px;
  padding: 15px;
  margin: 10px auto 50px auto;
  background: rgba(0,0,0,.2);
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
  color: #337ab7;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: verdana;
}

.form-wrapper input {
  width: 260px;
  height: 40px;
  padding: 10px 5px;
  float: left;
  font-weight: bold;
  font-size: 15px;
  border: 0px;
  background: #eee;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  color: #000;
}

#input2{
  border-radius: 8px 0 0 8px;
}
#searchButton{
  float: right;
}

.form-wrapper input:focus {
  outline: 0;
  background: #fff;
}

.form-wrapper button {
  position: relative;
  width: 110px;
  height: 40px;
  padding: 0px;
  float: right;
  border: 0px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  font-family: Arial, sans-serif;
  border-radius: 0 8px 8px 0;
  line-height: 40px;
  color: #fff;
  text-transform: uppercase;
  background: #6189ee;
  box-shadow: 0 -1px 0 rgba(0,0,0,.3) 
}

.cf:before, .cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.form-wrapper button:hover {
  background: #267fed;
}

.form-wrapper button:before {
  content: "";
  position: absolute;
  border-width: 8px 8px 8px 0px;
  border-style: solid solid solid none;
  border-color: transparent #6189ee transparent;
  top: 12px;
  left: -6px;
}

.form-wrapper button:hover:before {
  border-right-color: #267fed;
}

.thumbnail {
  position: relative;
  //min-height: 450px;
  height: 490px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.thumbnail h4 {
  text-align: center;
  min-height: 40px;
  font-weight: bold;
  color: #337ab7;
}

.carousel-inner h4 {
  text-align: center;
  font-weight: bold;
}

.thumbnail .btn {
  float: right;
  margin-right: 20px;
}

.thumbnail h5 {
  font-weight: bold;
  min-height: 30px;
}

#venueInfo h2 {
  color: #337ab7;
  font-weight: bold;
}

#bottom h5 {
  float: left;
  margin-left: 20px;
}

.thumbnail #bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
}

#venueInfo {
  text-align: center;
}

#venueInfo h3{
  width: 85%;
  margin: 15px auto 25px;
  color: #337ab7;
  font-weight: bold;
}

.carousel {
  width: 600px;
  height: 320px;
  float: right;
}

#mainInfo{
  margin: 20px 50px;
}

#detailedInfo {
  width: 50%;
  float: left;
}

#address{
  display: inline-block;
}

#workingHours{
  margin-left: 40px;
}

#map {
  padding-top: 30px;
  clear: both;
  text-align: center;
}

#wrapper {
  overflow: hidden;
  padding: 12px;
  background-color: #EFEFEF;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);;
}

#wrapper h3 {
  color: #337ab7;
  font-weight: bold;
}
 .well {
  height: 500px;
 }

 #collapseExample {
  padding-top: 30px;
 }